@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Inconsolata&family=Roboto:wght@400;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto', sans-serif;
}


body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}


/* navbar */

.nav-text-style {
    display: inline-flex;
    margin-right: 2px;
    padding: 10px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    border-radius: 18px;
    border: none;
    background: transparent;
    outline: none;
    line-height: 32px;
    transition: background ease-out 0.8s;
    justify-content: flex-start;
    align-items: center;

}

.nav-heg{
    height: 80px;
}

.nav-text-style:hover {

    background-color: #000;
    color: #fff;
}


.drop-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.drop:hover .drop-content {
    display: block;
}

.shop p {
    color: #000;
    font-weight: bold;
}

.shop a {
    color: #767676;
    text-decoration: none;
    font-size: small;
}

.shop a:hover {
    color: #000;
    font-weight: bold;

}


.nav-btn {
    border: none;
    outline: none;
    font-size: larger;
    margin-right: 20px;
    background-color: transparent;
}

.mobile a {

    color: #767676;
    text-decoration: none;
    font-size: medium;
    margin-right: 30px;

}

.mobile a:hover {

    color: #000;
    font-weight: bold;

}


.new {
    background-color: #f8f8f8;
    width: 115px;
    height: 118px;
    border-radius: 15px;
    list-style-type: none;
    margin-right: 25px;
    padding-top: 5px;

}

.new-p {

    font-size: x-small;

}

.nav-display {
    display: none;
}

.logo-size {

    margin-left: 70px;
    margin-right: 75px;
}


/* slider */


.slider-main {

    z-index: -22;
    margin-left: 6%;
    margin-right: 5%;
}

.slider-next {
    background-color: #000;
    border-radius: 22px;
    width: 48px;
    height: 45px;

}

.slide-postion {


    position: relative;


}

/* slide 1 */
.slide-mid {

    position: absolute;
    top: 38%;
    left: 12%
}

.slide-mid h2 {

    font-weight: bold;
    font-size: 48px;
    line-height: 1.2;
    color: currentColor;
    word-wrap: break-word
}

.slider-btn {

    width: 125px;
    height: 40px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 28px;
    font-size: smaller;
    font-weight: bold;
    transition: background ease-out 0.6s;
}

.slider-btn:hover {

    background-color: #fff;
    color: #000;

}


/* slide 2 */


.slide-mid2 {
    position: absolute;
    top: 38%;
    left: 12%
}


.slide-mid2 h2 {

    font-weight: bold;
    font-size: 48px;
    line-height: 1.2;
    color: #fff;
    word-wrap: break-word
}

.slider-btn2 {

    width: 125px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    border-radius: 28px;
    font-size: smaller;
    font-weight: bold;
    transition: background ease-out 0.6s;
}

.slider-btn2:hover {

    background-color: #767676;
    color: #000;

}

.slide-mid2 p {

    color: #fff;

}


/* slide 3 */


.slide-mid3 {
    position: absolute;
    top: 27%;
    left: 48%
}


.slide-mid3 h2 {

    font-weight: bold;
    font-size: 48px;
    line-height: 1.2;
    color: #fff;
    word-wrap: break-word
}

.slider-btn3 {

    width: 125px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    border-radius: 28px;
    font-size: smaller;
    font-weight: bold;
    transition: background ease-out 0.6s;
}

.slider-btn3:hover {

    background-color: #767676;
    color: #000;

}

.slide-mid3 p {

    color: #fff;

}


/* HERO 1 */

.hero1 {
    margin-left: 3%;
    margin-right: 3%;
}



.btn-indicators {

    margin-right: 25px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    position: relative;
}

.border-active0 {

    border-bottom: 3px solid #000;
}




.hero-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


/* hero1-box1  */

.box1-hover {

    position: relative;
    overflow: hidden;
    border-radius: 18px;

}

.box1-hover img {
    transition: all .3s ease;
    object-fit: cover;

}

.box1-hover img:hover {

    transform: scale(1.06);

}

.box1-h1 {
    position: absolute;
    bottom: 14%;
    width: 100%;

}

.box1-h1 h5 {
    font-weight: 600;
    font-size: x-large;
}

.box1-p {
    position: absolute;
    bottom: 8%;
    width: 100%;
    font-size: smaller;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}


.box1-btn {

    position: absolute;
    bottom: 8%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.box1-btn button {


    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 22px;
    font-size: smaller;
    width: 95px;
    font-weight: 600;
    height: 40px;

}

.box1-hover:hover .box1-p {

    visibility: hidden;
    opacity: 0;
}

.box1-hover:hover .box1-btn {
    visibility: visible;
    opacity: 1;
}

/* hero1-box2 */

.box2-hover {

    position: relative;
    border-radius: 18px;
    overflow: hidden;



}

.box2-hover img {

    transition: all .3s ease;
    object-fit: cover;
}

.box2-hover img:hover {
    transform: scale(1.06);
}

.box2-h1 {
    position: absolute;
    bottom: 23%;
    width: 100%;

}

.box2-h1 h5 {
    font-weight: 600;
    font-size: large;
    margin-bottom: 0px;
}

.box2-p {

    position: absolute;
    bottom: 8%;
    width: 100%;
    font-size: small;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    margin-bottom: 0px;
}

.box2-btn {

    position: absolute;
    bottom: 8%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}


.box2-btn button {

    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 22px;
    font-size: smaller;
    width: 95px;
    font-weight: 600;
    height: 40px;

}

.box2-hover:hover .box2-btn {
    visibility: visible;
    opacity: 1;
}

.box2-hover:hover .box2-p {
    visibility: hidden;
    opacity: 0;
}

.item-flex {
    display: flex;
}


.mob-pad {
    padding-left: 22px;
}




/* HERO-2 */


.hero-2 {
    margin-left: 3%;
    margin-right: 3%;
}

.btn-indicators1 {

    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.btn-indi1 {

    margin-right: 4%;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 600;
    font-size: large;
}

.border-active {

    border-bottom: 3px solid #000;
}

.hero-2-head {

    position: absolute;
    top: 3%;
    z-index: 10000;
    margin-left: 15%;
    margin-right: 15%;
    left: 0;
    right: 0;
}

.hero-2-head h1 {

    font-weight: bold;
    font-family: system-ui;
}

.hero2-box {

    position: absolute;
    bottom: 3%;
    right: 0;
    left: 0;
}

.hero2-box p {

    margin-bottom: 0px;
    font-size: medium;

}

.hero2-box h1 {

    font-weight: 600;
    font-size: xxx-large;
}

.hero2-btn {

    border: none;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 22px;
    font-weight: 600;
    transition: background ease-in-out 0.2s;

}

.hero2-btn:hover {

    background-color: #525252;



}

.border-active1 {

    border-bottom: 3px solid #000;
}

.border-active2 {
    border-bottom: 3px solid #000;

}


/* PRODUCT-SLIDER */

.col-carousel {
    margin: 70px 0;
}

/* owl nav */
.owl-prev span,
.owl-next span {
    color: #FFF;
}

.owl-prev span:hover,
.owl-next span:hover {
    color: #8199A3;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 0;
    height: 100%;
}

.owl-prev {
    left: 7px;
}

.owl-next {
    right: 7px;
}

/* removing blue outline from buttons */
button:focus,
button:active {
    outline: none;
}


.Product-card {

    background-color: #f7f7f7;
    border: none;
    border-radius: 17px;

}

.card-title {

    font-weight: bold;
    margin-top: 3px;
    font-size: medium;
}

.card-text {

    font-size: small;
    font-weight: bold;
}

.card-text span {

    font-size: smaller;
    color: #767676;
    font-weight: normal;
}


.Product-btn {

    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: none;

}

.Product-btn:focus {

    border: dotted white;


}

.Product-btn2 {

    border: none;
    border-radius: 22px;
    width: 50px;
    height: 30px;
    font-size: x-small;
    font-weight: bold;
    margin-right: 20px;
    background-color: transparent;

}

.strg-active {

    border: 1px solid #000;

}

.strg-active2 {

    border: 1px solid #000;

}

.strg-active3 {

    border: 1px solid #000;

}


.strg-active4 {

    border: 1px solid #000;

}

.Product-price p {

    margin-bottom: 0px;
    font-size: 11px;
}

.Product-price a {

    margin-bottom: 0px;
    font-size: 11px;
}

.Product-price span {

    font-size: 12px;
    color: blue;
}

.Product-buybtn {

    width: 90%;
    height: 40px;
    font-size: small;
    border-radius: 22px;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    border: none;
    outline: none;


}

.break{
    display: none;
}

/* responsive */

/* resposive for mobile device */

@media only screen and (max-width: 481px) {



    /* navbar */
    .logo-size {

        margin-left: 0px;
        margin-right: 0px;


    }

    .nav-heg{
        height: 60px;
    }

    .break{
        display: block;
    }

    .icon-size {
        width: 90px;
    }

    .nav-btn {
        border: none;
        outline: none;
        font-size: small;
        margin-right: 10px;
        background-color: transparent;
    }

    .nav-display {

        display: block;

    }

    .btn-size {
        font-size: small;

    }


    .drop:hover .drop-content {
        display: none;
    }

    .ham-nodis {

        display: none;

    }


    .nav-text-style {
        color: #767676;
        transition: color ease-out 0.8s;

    }

    .nav-text-style:hover {

        background-color: transparent;
        color: #000;

    }


    /* slider  */

    .slider-main {

        z-index: -22;
        width: 100%;
        margin-left: 0;

    }


    .mob-indi {

        background-color: #fff;
        border: 1px solid #767676;
        border-radius: 22px;
        width: 65%;

    }

    .mob-btn {

        background-color: #767676 !important;
        height: 9px !important;
        width: 9px !important;
        border-radius: 50% !important;
        margin-right: 10px !important;
    }

    .mob-btn:hover {

        background-color: #000 !important;
    }


    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 28%;
        margin-bottom: 1rem;
        margin-left: 28%;
        width: 40%;
        height: 5%;

    }


    /* slider button */

    .slider-next {
        width: 15px;
        height: 15px;

    }


    /* slide1 */
    .slide-mid {

        position: absolute;
        top: 9%;
        left: 0%;
        width: 100%;
        height: 100%;

    }

    .slide-mid h2 {

        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }

    .slider-btn {
        width: 110px;
        height: 50px;
        font-size: small;
        font-weight: bold;
        border-radius: 40px
    }

    .slide-mid p {
        font-size: medium;
        text-align: center;
        margin-bottom: 1px;
    }



    .btn-flex {
        display: flex;
        justify-content: center;
        margin-top: 15px;

    }


    /* slide 2 */

    .slide-mid2 {
        position: absolute;
        top: 9%;
        left: 0%;
        height: 100%;
        width: 100%;
    }


    .slide-mid2 h2 {
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }

    .slider-btn2 {

        width: 110px;
        height: 50px;
        font-size: small;
        font-weight: bold;
        border-radius: 40px
    }

    .slide-mid2 p {

        font-size: small;
        text-align: center;
        margin-bottom: 1px;

    }



    /* slider 3  */


    .slide-mid3 {
        position: absolute;
        top: 9%;
        left: 0%;
        height: 100%;
        width: 100%;
    }


    .slide-mid3 h2 {

        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }

    .slider-btn3 {

        width: 110px;
        height: 50px;
        font-size: small;
        font-weight: bold;
        border-radius: 40px
    }

    .slide-mid3 p {

        font-size: small;
        text-align: center;
        margin-bottom: 1px;


    }


    .btn-indi {
        display: none;
    }


    /* HERO1 */

    .mob-top {

        margin-top: 15px !important;

    }

    .box1-hover {

        margin-bottom: 15px;

    }

    .item-flex {
        display: block;
    }

    .btn-indicators {

        font-size: 8px;
        font-weight: bold;
        margin-right: 15px;

    }


    .hero-h1 {
        font-size: large;
        font-weight: bold;
        margin-bottom: 0px;
    }


    .btn-indicators::after {

        top: 12px;
    }

    .indicator {
        margin-top: -18px;
    }

    .mob-pad {
        padding-left: 0px;
    }



    .box1-btn {

        position: absolute;
        bottom: 5%;


    }


    .box1-btn button {



        width: 90px;
        font-weight: 600;
        height: 35px;

    }


    .box1-p {

        bottom: 3%;
        font-size: small;

    }


    .box1-h1 h5 {
        font-weight: 600;
        font-size: large;
    }



    .box2-h1 {

        bottom: 23%;


    }

    .box2-h1 h5 {

        font-size: x-small;

    }

    .box2-p {

        bottom: 5%;
        font-size: 6px;

    }

    .box2-btn {

        bottom: 5%;


    }


    .box2-btn button {


        font-size: xx-small;
        width: 50px;
        font-weight: 600;
        height: 19px;

    }

    /* hero-2 */


    .btn-indi1 {

        margin-right: 2%;
        font-weight: 600;
        font-size: 10px;
    }

    .btn-indicators1 {
        top: 8%;
    }


    .hero-2 {
        margin-left: 0%;
        margin-right: 0%;
    }

    .hero2-box {

        position: absolute;
        bottom: 8%;
        right: 0;
        left: 0;
    }

    .hero2-box p {

        margin-bottom: 0px;
        font-size: small;

    }

    .hero2-box h1 {

        font-weight: 600;
        font-size: 37px;
        margin-bottom: 0px;
    }

    .btn-mob-marg {

        margin-left: 4% !important;
    }


    /* product slider */
    .card-size {

        width: 12rem !important;
        height: 43rem !important;
    }

    .product-img {

        width: 10rem !important;

    }

    .btn-size {

        margin-top: 0.5rem !important;

    }

    .btn-size1 {
        margin-top: 3rem !important;
    }

    .btn-size2 {
        margin-top: 1.5rem !important;
    }

    .btn-size3 {
        margin-top: 2rem !important;
    }


}

/* resposive for i pad and tab */

@media only screen and (min-width: 481px) and (max-width: 600px) {


    /* slider */


    /* slider button */

    .slider-next {
        width: 17px;
        height: 17px;

    }

    /* slide 1 */
    .slide-mid {

        position: absolute;
        top: 34%;
        left: 15%
    }

    .slide-mid h2 {

        font-weight: bold;
        font-size: 20px;
    }

    .slider-btn {

        width: 95px;
        height: 25px;
        font-size: small;
        font-weight: bold;

    }

    .slide-mid p {
        font-size: small;
    }


    /* slide 2 */

    .slide-mid2 {
        position: absolute;
        top: 40%;
        left: 12%
    }


    .slide-mid2 h2 {

        font-weight: bold;
        font-size: 20px;
    }

    .slider-btn2 {

        width: 90px;
        height: 20px;
        font-size: small;
    }

    .slide-mid2 p {

        font-size: small;
        margin-bottom: 2px;

    }


    /* slider 3  */


    .slide-mid3 {
        position: absolute;
        top: 27%;
        left: 48%
    }


    .slide-mid3 h2 {

        font-weight: bold;
        font-size: 30px;
        margin-bottom: 2px;
    }

    .slider-btn3 {

        width: 100px;
        height: 25px;
        font-size: x-small;
    }

    .slide-mid3 p {

        margin-bottom: 2px;
        font-size: small;


    }


    /* HERO 1 */



    .btn-indicators {

        font-size: 10px;
        font-weight: bold;

    }


    .hero-h1 {
        font-size: large;
        font-weight: bold;
    }


    .btn-indicators::after {

        top: 14px;
    }


    .indicator {
        margin-top: -12px;
    }




    .box1-btn {

        position: absolute;
        bottom: 5%;


    }


    .box1-btn button {



        width: 70px;
        font-weight: 600;
        height: 25px;

    }


    .box1-p {

        bottom: 0%;
        font-size: x-small;

    }


    .box1-h1 h5 {
        font-weight: 600;
        font-size: large;
    }





    .box2-h1 {

        bottom: 17%;


    }

    .box2-h1 h5 {

        font-size: xx-small;

    }

    .box2-p {

        bottom: -13%;
        font-size: 6px;

    }

    .box2-btn {

        bottom: 5%;


    }


    .box2-btn button {


        font-size: 6px;
        width: 35px;
        font-weight: 600;
        height: 10px;

    }



    /* hero-2 */

    .btn-indi1 {

        margin-right: 3%;
        font-weight: 600;
        font-size: 9px;
    }

    .hero2-box {

        position: absolute;
        bottom: 2%;

    }

    .hero2-box p {

        margin-bottom: 0px;
        font-size: 8px;

    }

    .hero2-headh1 {

        font-size: x-large;
    }

    .hero2-box h1 {

        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0px;
    }

    .hero2-btn {

        width: 48px;
        height: 18px;
        font-size: xx-small;
    }

    .hero2-btnhead {

        margin-top: 0px !important;
    }



    /* product slider */
    .card-size {

        width: 15rem !important;
        height: 43rem !important;
    }

    .btn-size {

        margin-top: 0.5rem !important;

    }

    .btn-size1 {
        margin-top: 3rem !important;
    }

    .btn-size2 {
        margin-top: 1.5rem !important;
    }

    .btn-size3 {
        margin-top: 2rem !important;
    }

}

/* responsive for i pad and tabs */

@media only screen and (min-width: 600px) and (max-width: 768px) {


    /* slider */

    /* slide 1 */

    /* slider button */

    .slider-next {
        width: 18px;
        height: 18px;

    }

    .slide-mid {

        position: absolute;
        top: 34%;
        left: 15%
    }

    .slide-mid h2 {

        font-weight: bold;
        font-size: 20px;
    }

    .slider-btn {

        width: 95px;
        height: 25px;
        font-size: small;
        font-weight: bold;

    }

    .slide-mid p {
        font-size: small;
    }


    /* slide 2 */

    .slide-mid2 {
        position: absolute;
        top: 40%;
        left: 12%
    }


    .slide-mid2 h2 {

        font-weight: bold;
        font-size: 20px;
    }

    .slider-btn2 {

        width: 95px;
        height: 25px;
        font-size: small;
    }

    .slide-mid2 p {

        font-size: small;
        margin-bottom: 2px;


    }


    /* slider 3  */


    .slide-mid3 {
        position: absolute;
        top: 27%;
        left: 48%
    }


    .slide-mid3 h2 {

        font-weight: bold;
        font-size: 30px;
        margin-bottom: 2px;
    }

    .slider-btn3 {

        width: 100px;
        height: 25px;
        font-size: x-small;
    }

    .slide-mid3 p {

        margin-bottom: 2px;
        font-size: small;


    }


    /* HERO 1 */


    .btn-indicators {

        font-size: 15px;
        font-weight: bold;

    }



    .box1-btn {

        position: absolute;
        bottom: 5%;


    }


    .box1-btn button {



        width: 85px;
        font-weight: 600;
        height: 30px;

    }


    .box1-p {

        bottom: -1%;

    }



    .box2-h1 {

        bottom: 22%;


    }

    .box2-h1 h5 {

        font-size: x-small;

    }

    .box2-p {

        bottom: -8%;
        font-size: xx-small;

    }

    .box2-btn {

        bottom: 8%;


    }


    .box2-btn button {


        font-size: xx-small;
        width: 45px;
        font-weight: 600;
        height: 20px;

    }

    /* hero-2 */

    .btn-indi1 {

        margin-right: 4%;
        font-weight: 600;
        font-size: x-small;
    }

    .hero2-box {

        position: absolute;
        bottom: 2%;

    }

    .hero2-box p {

        margin-bottom: 0px;
        font-size: xx-small;

    }

    .hero2-headh1 {

        font-size: x-large;
    }

    .hero2-box h1 {

        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0px;
    }

    .hero2-btn {

        width: 55px;
        height: 20px;
        font-size: x-small;
    }


    /* product slider */
    .card-size {

        width: 15rem !important;
        height: 43rem !important;
    }

    .btn-size {

        margin-top: 0.5rem !important;

    }

    .btn-size1 {
        margin-top: 3rem !important;
    }

    .btn-size2 {
        margin-top: 1.5rem !important;
    }

    .btn-size3 {
        margin-top: 2rem !important;
    }
}

/* responsive for desktop and laptops */

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    /* slider */

    /* slider button */

    .slider-next {
        width: 30px;
        height: 30px;

    }

    /* slide 1 */
    .slide-mid {

        position: absolute;
        top: 37%;
        left: 12%
    }

    .slide-mid h2 {

        font-weight: bold;
        font-size: 30px;
    }

    .slider-btn {

        width: 110px;
        height: 30px;
        font-size: small;
        font-weight: bold;

    }

    .slide-mid p {
        font-size: smaller;
    }

    /* slide 2 */

    .slide-mid2 {
        position: absolute;
        top: 38%;
        left: 12%
    }


    .slide-mid2 h2 {

        font-weight: bold;
        font-size: 30px;
    }

    .slider-btn2 {

        width: 110px;
        height: 30px;
        font-size: small;
    }

    .slide-mid2 p {

        font-size: smaller;
        margin-bottom: 2px;


    }


    /* slider 3  */


    .slide-mid3 {
        position: absolute;
        top: 27%;
        left: 48%
    }


    .slide-mid3 h2 {

        font-weight: bold;
        font-size: 40px;
    }

    .slider-btn3 {

        width: 115px;
        height: 33px;
        font-size: smaller;
    }

    .slide-mid3 p {

        margin-bottom: 2px;


    }


    /* Hero1 */


    .box1-btn {

        position: absolute;
        bottom: 7%;


    }


    .box1-btn button {



        width: 90px;
        font-weight: 600;
        height: 35px;

    }


    .box1-p {

        bottom: 7%;

    }




    .box2-h1 {

        bottom: 22%;


    }

    .box2-h1 h5 {

        font-size: small;

    }

    .box2-p {

        bottom: -4%;
        font-size: x-small;

    }

    .box2-btn {

        bottom: 8%;


    }


    .box2-btn button {


        font-size: x-small;
        width: 60px;
        font-weight: 600;
        height: 25px;

    }



}


@media only screen and (min-width: 768px) and (max-width: 991px) {


    /* hero-2 */

    .btn-indi1 {

        margin-right: 4%;
        font-weight: 600;
        font-size: small;
    }

    .hero2-box {

        position: absolute;
        bottom: 2%;

    }

    .hero2-box p {

        margin-bottom: 0px;
        font-size: x-small;

    }

    .hero2-box h1 {

        font-weight: 600;
        font-size: 28px;
    }

    .hero2-btn {

        width: 72px;
        height: 25px;
        font-size: small;
    }

    /* product slider */
    .card-size {

        width: 13rem !important;
        height: 43rem !important;
    }

    .btn-size {

        margin-top: 0.5rem !important;

    }

    .btn-size1 {
        margin-top: 3rem !important;
    }

    .btn-size2 {
        margin-top: 1.5rem !important;
    }

    .btn-size3 {
        margin-top: 2rem !important;
    }

}



/* navbar responsive */
@media only screen and (min-width: 991px) and (max-width: 1180px) {

    .nav-text-style {
        font-size: 10px;


    }

    .box2-p {

        bottom: 5% !important;
        font-size: x-small;

    }

    /* hero-2 */

    .btn-indicators1 {
        top: 10%;
        right: 0;
        left: 0;
        padding: 0;
        margin-bottom: 1rem;
    }

    .btn-indi1 {

        margin-right: 4%;
        font-weight: 600;
        font-size: large;
    }

    .hero2-box {

        position: absolute;
        bottom: 2%;
        right: 0;
        left: 0;
    }

    .hero2-box p {

        margin-bottom: 0px;
        font-size: small;

    }

    .hero2-box h1 {

        font-weight: 600;
        font-size: 37px;
    }

    .hero2-btn {

        width: 90px;
        height: 35px;
        border-radius: 22px;
        font-weight: 600;
    }
}



/* navbar element display */
@media only screen and (min-width: 481px) and (max-width: 991px) {

    .nav-display {

        display: block;

    }

    .nav-btn {
        border: none;
        outline: none;
        font-size: large;
        margin-right: 20px;
        background-color: transparent;
    }

    .drop:hover .drop-content {
        display: none;
    }

    .ham-nodis {

        display: none;

    }

    .nav-support {
        margin-left: 0;
    }

    .nav-text-style {
        color: #767676;
        transition: color ease-out 0.9s;

    }

    .nav-text-style:hover {

        background-color: transparent;
        color: #000;

    }




}


/* responsive for higher devices */

@media only screen and (min-width: 1200px) {

    .box2-p {

        bottom: 4%;
        font-size: small;

    }

}